@import 'intro';

ion-card.primary-layout {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.button-clear {
  --color: var(--app-color-purple);
}

ion-header > ion-toolbar > ion-title {
  font-weight: 700;
}

ion-toolbar {
  ion-back-button ~ ion-title {
    padding-left: 0;
  }
}

ion-badge {
  padding: 0.5em;
  &.ion-color-warning {
    color: #ffffff;
  }
  &.ion-color-success {
    color: rgb(0, 103, 18);
    background-color: rgb(217, 255, 213);
  }

  &.color {
    &--green {
      background: rgb(29, 129, 146);
      color: rgb(255, 255, 255);
    }
  }
}
